html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: baseline;
}

body{padding: 2em;}

header{
  text-align: right;
  border-top: 1px solid #00aeef;
  border-bottom: 1px solid #00aeef;
  height: 200px;
}

h1{font-size: 48px; padding-bottom: 0.4em;}
h2{font-size: 21px;}
h3{font-size: 18px; font-weight: 600;}
h4{font-size: 14px; }
p{font-size: 14px;}

#id-nombre{
  font-size: 18px;
  padding-bottom: 1em;
  float: left;
}

#id-link{
  font-size: 12px;
  padding: 0.5em;
  float: right;
}

.gran-dato{font-size: 48px;}
#mid-dato{font-size: 24px;}

/* Header con análisis global del icono */
  #identificacion{display: block;}

  .info-icono{
    padding: 3em 1em;
    float: left;
    width: 20%;
    text-align:center;
  }
  #icono{
    padding: 3em 4em 0em 0em;
    float: left;
    width: 10%;
  }
  #todo-respuestas{
  text-align: center;
  padding-top: 2em;
}

/* Sección: respuestas procesadas y ordenadas <3*/
  section{
        float: left;
        display: block;
      }

  #content{padding-top: 4em;
  }
  .linear {display: inline; float: left; padding: 0.5em;}
  #correct .linear::after{
    content: " ";
    background: url(../image/circle1.svg) no-repeat 0 0;
  /* background-size: 100% 100%; */
    background-position: 0% 0%;
    padding: 50px 0 20px 70px;
    z-index: 30;
  }

  #almost-correct .linear::after{
    content: " ";
    background: url(../image/circle2.svg) no-repeat 0 0;
  /* background-size: 100% 100%; */
    background-position: 0% 0%;
    padding: 50px 0 20px 70px;
    z-index: 30;
  }

  #doubtful .linear::after{
    content: " ";
    background: url(../image/circle3.svg) no-repeat 0 0;
  /* background-size: 100% 100%; */
    background-position: 0% 0%;
    padding: 50px 0 20px 70px;
    z-index: 30;
  }

  #incorrect .linear::after{
    content: " ";
    background: url(../image/circle4.svg) no-repeat 0 0;
  /* background-size: 100% 100%; */
    background-position: 0% 0%;
    padding: 50px 0 20px 70px;
    z-index: 30;
  }
  #opposite .linear::after{
    content: " ";
    background: url(../image/circle5.svg) no-repeat 0 0;
  /* background-size: 100% 100%; */
    background-position: 0% 0%;
    padding: 50px 0 20px 70px;
    z-index: 30;
  }
  #no-answer .linear::after{
    content: " ";
    background: url(../image/circle6.svg) no-repeat 0 0;
  /* background-size: 100% 100%; */
    background-position: 0% 0%;
    padding: 50px 0 20px 70px;
    z-index: 30;
  }

  #correct{float: left; width: 60%;}
  #almost-correct{float: left; width: 10%;}
  #doubtful{float: left;  width: 10%;}
  #incorrect{float: left; width: 10%;}
  #opposite{float: left;  width: 10%;}
  #no-answer{float: left;  width: 10%;}
